.nav-bar {
  /* border-bottom: gray solid 1px; */
  background-color: #ffffff;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 10;
}

.nav-bar::after {
  content: '';
  display: block;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 10px;
}
.button-list {
  float: right;
  height: 100%;
  margin: auto;
  /* margin-top: 5px; */
}

.button-list:last-child {
  margin-right: 50px;
}

.button-list > li {
  list-style: none;
  float: right;
  margin: auto 0px;
  padding: 15px 10px;
}
