.nav-bar {
  height: 71px;
}

.logo {
  padding: 10px 10px;
}

.button-list {
  float: right;
  height: 100%;
  margin: auto;
  /* margin-top: 5px; */
}

.button-list:last-child {
  margin-right: 50px;
}

.button-list > li {
  list-style: none;
  float: right;
  margin: auto 0;
  padding: 15px 10px;
}
