.mid {
  width: 62%;
  /* background-color: rgb(229, 229, 229); */
  overflow: hidden;
  float: left;
}
.mid > div {
  background-color: white;
  width: 375px;
  height: 768px;
  margin: 50px auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* box-shadow: 2px 8px 10px gray; */
}
