@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

.nav-bar {
  border-bottom: gray solid 1px;
  background-color: white;
  font-size: 20px;
}

.nav-bar::after {
  content: '';
  display: block;
  clear: both;
}

.logo {
  font-family: 'Neonderthaw', cursive;
  font-size: 20px;
  color: blue;
  float: left;
  margin: 10px 30px;
  padding: 10px 10px;
  text-align: center;
}

.button-list {
  float: right;
  height: 100%;
  margin: auto;
  margin-top: 5px;
}

.button-list > li {
  list-style: none;
  float: right;
  margin: auto 20px;
}
